# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                  @Datadog/container-ecosystems

# Documentation
README.md             @Datadog/container-ecosystems
/docs/                @Datadog/container-ecosystems
