version = "2"

[run]
  timeout = "5m"

[linters-settings]

  [linters-settings.gocyclo]
    min-complexity = 12.0

  [linters-settings.goconst]
    min-len = 3.0
    min-occurrences = 3.0

  [linters-settings.misspell]
    locale = "US"

  [linters-settings.godot]
    exclude = [
      ' \+',
    ]

  [linters-settings.errcheck]
    exclude-functions = [
      "fmt.Fprintf"
    ]

[linters]
  enable-all = true
  disable = [
    "exhaustruct",
    "loggercheck",
    "nonamedreturns",
    "revive",
    "lll",
    "gosec",
    "dupl",
    "gocyclo",
    "gochecknoinits",
    "gochecknoglobals",
    "funlen",
    "gocognit",
    "cyclop",
    "wrapcheck",
    "forcetypeassert",
    "err113",
    "testpackage",
    "wastedassign",
    "thelper",
    "paralleltest",
    "nestif",
    "exhaustive",
    "wsl",
    "godox",
    "godot",
    "nlreturn",
    "varnamelen",
    "tagliatelle",
    "containedctx",
    "contextcheck",
    "nilnil",
    "ireturn",
    "maintidx",
    "gocritic",
    "errchkjson",
    "unparam",
    "depguard",
    "mnd"
  ]

[issues]
  exclude-use-default = false
  max-per-linter = 0
  max-same-issues = 0
  exclude = []